#sizeWidget {
    width: 160px;
    margin: auto;
    margin-top: 20px;
}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: inherit;
}

#container {
    display: flex;
    margin: auto;
    width: 20%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.pixel {
    border: 1px rebeccapurple solid;
    width: 40px;
    aspect-ratio: auto 1 / 1;
}