#container {
    display: flex;
    width: 20%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.pixel {
    border: 1px rebeccapurple solid;
    width: inherit;
    aspect-ratio: auto 1 / 1;
}