#sizeWidget {
    width: 160px;
    margin: auto;
    margin-top: 20px;
}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: inherit;
}

#container {
    display: flex;
    margin: auto;
    width: 200px;
    height: 200px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.pixel {
    border: 1px rebeccapurple solid;
    flex: 1;
    width: 20%;
    height: 20%;
    margin: auto;
    aspect-ratio: auto 1 / 1;
}